
.logo{
  width:"277px";
   height:"67px";
}

body{
  padding: 0px;
  width: 100%;
  overflow-x: hidden;
}


@media only screen  and (max-width: 600px){
  .mr-md-3 .text-dark{
     font-size: 10px;
     margin-left: -13px;
  }

}
@media only screen  and (max-width: 900px){
  .mr-md-3 .text-dark{
     font-size: 14px;
     /* margin-left: -5px; */
  }
  .log{
    margin-left: -10px;
  }

}
@media only screen  and (max-width: 480px){
  .mr-md-3 .text-dark{
     font-size: 13px;
     /* margin-left: -5px; */
  }
  .log{
    margin-left: -10px;
  }

}
.first-nav{
  margin-bottom: -30px;
  margin-right:  20px;
}
.phone-num{
  padding-left: 20px;
  font-size: 18px;
  color: #000000;
}
.first-nav a{
  color: #000000;
}
@media only screen  and (max-width: 600px){
    .first-nav{
      margin-left: -15px;
      margin-bottom: 15px;
    }
}

@media only screen  and (max-width: 768px){
    .first-nav{

      margin-left: -20px;
      margin-bottom: 15px;
      margin-top: 10px;
    }
}
@media only screen  and (max-width: 480px){
    .first-nav{
     font-size: 12px;
      margin-left: -20px;
      margin-bottom: 15px;
      margin-top: 10px;
    }
}

.inf-help{
  margin-top: -15px;
}
.img-help{
  width: 100%;
}

.bg-img{
  background-image: url("./images/1.png");
}
.img-carton{
  width: 100%
  height:100%;
}
.body-qu-help{
  width: 100%;
}
.body-qu-help{
  margin-top: 65px;
  margin-left: 20px;
}
.cont-1{
  font-weight: bold;
  position: absolute;
  top: 28%;
  left: 48%;
  transform: translate(-50%, -50%);
}
.cont-2{
  font-weight: bold;
  position: absolute;
  top: 32%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media only screen  and (max-width: 600px){
  .cont-1{
    font-size: 11px;
    top:35%;
    left:56%;
  }
  .cont-2{
    font-size: 11px;
    top:47%;
    left:54%;
  }
}
@media only screen  and (max-width: 480px){
  .cont-1{
    font-size: 10px;
    top:40%;
    left:56%;
  }
  .cont-2{
    font-size: 10px;
    top:52%;
    left:53%;
  }
}

.form-appoit{
  background: #f4f4f4;
  height: 150px;
}
.form-appoit-cont{
  background: #ffffff;
  border-style:  solid 1px #f4f4f4;
  border-radius: 5px;
  margin-top: -95px;

}
@media only screen  and (max-width: 480px){
  .form-appoit-cont{
    margin-top: -20px;
    height: 230px;
  }
}
@media only screen  and (max-width: 768px){
  .form-appoit-cont{
    margin-top: -20px;
    height: 180px;
  }
}
.form-control{
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
}
.cont-wat{
  margin-top: 35px;
  margin-bottom: 35px;
  margin-bottom: 25px;
}
. info-wat{
 margin-bottom: 25px;
}
.btn-appoit {
  float: right;
  margin-top: 15px;
  margin-bottom: 15px;
}
.img-wait{

  padding-top: 50px;
}
.skip-wait{
  border: solid 1px #ED4C5F;
  border-radius: 50%;
  background:#ED4C5F;
  height: 310px;
}
.cost-visit{
  border: solid 1px #41D0FB;
  border-radius: 50%;
  background:#41D0FB;
  height: 310px;

}
@media only screen  and (max-width: 600px){
 .cost-visit{
   margin-bottom: 25px;
   margin-top: 25px;
 }
}
.img-wallet{
    padding-top: 50px;
}
.ifo-doc{
  border: solid 1px #7ED321;
  border-radius: 50%;
  background:#7ED321;
  height: 310px;
}
.img-doc-ic{
  padding-top: 50px;
}
.carton-cont{
  margin-top: -42.8%;
}
.img-carton{
  width: 100%;
}

.fet-doc{
  background: #F5A623;
}
.fet-doc1{
  background: #F5A623;
  height: 60px;
}
.fet-doc h2{
  text-align: center;
  color: white;
  margin-top: 25px;
}
.fet-doc a{
  text-decoration: none;
  color: white;
  display: block;
  float: right;
  margin-top: -35px;
  padding-right: 25px;
}



@media only screen  and (max-width: 480px){
  .fet-doc a{
    text-align: center;
    color: white;
    float: none;
    margin-top: -0px;
    padding-bottom: 10px;

  }
}


.card-header-feature{
  text-align: center;
}
.card-text-feature{
  text-align: center;
}
.star-active{
  color:  #f5a623;
}
.card-body-unvai{
  background: #f0f0f0;
  margin-bottom: -25px;
}
.connect-ava{
background-image: url('./images/6.png');
}


.icon-ava{
  margin-left: 75px;
  margin-top: -100px;
}
.icon-ava1{

  margin-top: -100px;
}
@media only screen  and (max-width: 900px){
  .icon-ava{
    margin-left: 10px;
  }
}
@media only screen  and (max-width: 768px){
  .icon-ava{
    /* margin-left: -30px; */
    width: 20px;
  }
  .icon-ava1{
    width: 20px;
  }
}
@media only screen  and (max-width: 600px){
  .icon-ava{
  width: 45px;
    margin-left:140px;
  }
  .icon-ava1{
    width: 45px;
  }
}
@media only screen  and (min-width: 480px){
  .icon-ava{
    width: 45px;
    margin-left: 40px;
  }
  .icon-ava1{
    width: 45px;
  }
}



.available{
  color: green;
}
.content-app{
  background: #dbdbdb;
  padding-left: 60px;
}
.header-app{
  text-align: center;
  padding-top: 25px;
}
.mobilescreen{
  width: 100%;
}
.app-store{
  width: 20%;
}
.link-app{
  text-align: center;
  padding-top: 75px;
}


.header-team{
  text-align: center;
}
.content-team{
  text-align: center;
}
.person-team{
  width: 30%;
  border-style: 5px sloid #cc0000;
  border-radius: 50%;
  margin-left: 25px;
}

.body-team{
  background: #f1f1f1;
  border-style: 1px solid #f1f1f1;
  width: 43%;
text-align: center;
  margin-left: 100px;
  margin-top: 15px;
}
@media only screen  and (max-width: 600px){
  .body-team{
    margin-left: 40px;
    width: 79%;
  }
}
.name-pers-team{
  font-weight: bold;

}

.link-team a{
 margin-left: 48%;
 color: #4a4a4a;
 margin-bottom: 25px;
}
.team{
  margin-bottom: 25px;
}
.patient{
  background: #dbdbdb;
}
.header-patient{
  padding-top: 75px;
  text-align: center;
}
.header-patient h3{
  color: #cc0000;
}

.patient-img{
  width: 100px;
height: 100px;
border-radius: 50%;
border-style: 22px solid #cc0000;
margin-top: 65px;

}

.content-patient{
  border-style: 1px solid;
  border-radius: 10px;
  background: white;
  margin-left: 25px;
}

.content-body-patient{
  display: flex;
  padding-left: 75px;
  margin-top: 15px;
}
.link-patient{
  float: right;
  color: #4a4a4a;
  padding-bottom: 25px;
}

.content-companies{
  background:#ed4c5f;
}
.latestnews{
  background: #f4f4f4;
}
.header-news{
  font-size: 36px;
  margin-left: 40px;
  margin-top: 40px;
}
.letest-new-cont{
   margin-left: 120px;

}
@media only screen  and (max-width: 900px){
  .letest-new-cont{
     margin-left: 40px;

  }
}
@media only screen  and (max-width: 600px){
  .letest-new-cont{
     margin-left: 10px;

  }
}
.card-text{
/* margin-bottom: -8px; */
}

.card-news{
    padding-bottom: 25px;
}
.card{
  padding-bottom: 25px;
}
.btn-news{
  margin-top: 10px;
  margin-left: 90px;
  margin-bottom: 20px;
  position: absolute;
  background: #cc0000;
}
.link-news a{
 margin-left: 41%;
 color: #4a4a4a;
position: absolute;
margin-top: 30px;

}
.link-news{
  margin-bottom: 42px;
  padding-bottom: 25px;
}
@media only screen  and (max-width: 768px){
  .btn-news{
    margin-left: 10px;
    /* position: fixed; */
  }
}
.footer{
  background: #000000;
}
.footer a{
  color: #ffffff;
}
.logo-footer{
  margin-top: 15px;
  padding-left: 15px;
}
.que-footer{
  margin-top: 15px;

}
.nav-footer{
  margin-top: 15px;
}
.phone-num-footer{
  padding-left: 20px;
  color: white;
  float: right;
}
.img-phone{
  float: right;
  padding-right: 140px;
}
.info-patient-footer{
  color: white;
  text-align: center;
}

.logo-face{
  width: 24px;
  height: 24px;
}
.social{
  color: white;
  padding-left: 15px;
  padding-right: 15px;
}

.mail-fot{
padding-left: 150px;
}

.mail{
  color: white;
  font-size: 30px;
}
